<div id="index-root">
	<div class="panel panel-primary">
		<div class="panel-heading text-center">
			{{title}}
		</div>
		<div class="panel-body">
			<form method="POST", action="/">
				<div class="form-group">
					<label>CEP</label>
					<input type="tel" name="cep" class="form-control" value="{{address.cep}}" />
				</div>
				<button type="submit" class="btn btn-info btn-block">Consultar CEP</div>
				{{#if msgError}}
					<p class="text-danger">{{{msgError}}}</p>
				{{/if}}
			</form>
			{{#if address}}
				<div class="container">
					<ul class="list-group">
						<li class="list-group-item">
							<b>Cep: </b><span>{{address.cep}}</span>
						</li>
						<li class="list-group-item">
							<b>Logradouro: </b><span>{{address.logradouro}}</span>
						</li>
						<li class="list-group-item">
							<b>Complemento: </b><span>{{address.complemento}}</span>
						</li>
						<li class="list-group-item">
							<b>Bairro: </b><span>{{address.bairro}}</span>
						</li>
						<li class="list-group-item">
							<b>Localidade: </b><span>{{address.localidade}}</span>
						</li>
						<li class="list-group-item">
							<b>UF: </b><span>{{address.uf}}</span>
						</li>
					</ul>
				</div>				
			{{/if}}			
		</div>		
	</div>	
</div>